@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100vh;
     
     
     
}   

.logo__texto{
     display: flex;
     justify-content: center;
}

.texto__texto{
     font-family: "Righteous", sans-serif;
     font-size: 50px;
     font-style: normal;
     color: #387c2b;
     display: flex;
     position: relative;
     top: 50px;
     
}

.logo__esquerda{
     display: flex;
     position: relative;
     right: 35px;
}
.logo__direita{
     display: flex;
     position: relative;
     left: 35px;
}

.botoes{
     background-color: #387c2b;
     display: flex;
     justify-content:space-between;
     font-size: 20px;
     
}

.botao__cadastro{
     display: flex;
     justify-content:center;
     text-decoration: none;
     color: #fff;
     gap: 10px;
     margin: 10px;
}


.botao__servicos{
     display: flex;
     justify-content:center;
     text-decoration: none;
     color: #fff;
     gap: 10px;
     margin: 10px;
}

.botao__estoque{
     display: flex;
     justify-content:center;
     text-decoration: none;
     color: #fff;
     gap: 10px;
     margin: 10px;
}

.botao__veiculos{
     display: flex;
     justify-content:center;
     text-decoration: none;
     color: #fff;
     gap: 10px;
     margin: 10px;
}


.botao__whatsapp{
     display: flex;
     justify-content:center;
     text-decoration: none;
     color: #fff;
     gap: 10px;
     margin: 10px;
}

.botao__instagram{
     display: flex;
     justify-content:center;
     text-decoration: none;
     color: #fff;
     gap: 10px;
     margin: 10px;
}


.imagem__meio{
     display: flex;
     justify-content: center;
}

.rodape{
     display: flex;
     justify-content: center;
     color: #387c2b;
}

